<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--index') %>
<h1>ユーザ一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <div id="accordion">
      <% @users.each do |user| %>
        <div>
          <%= user.name %><p>
          ｜
          <%= link_to "削除", user, class: "btn btn-primary",
                method: :delete, data: { confirm: "削除してよろしいですか？" } %><p>

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <div data-toggle="collapse" data-parent="#accordion" href="#<%= user.id %>" class="btn btn-primary">編集</div>
              </div>
            </div>
            <div id="<%= user.id %>" class="panel-collapse collapse out">
              <div class="panel-body">
                <%= render 'user_edit_form', user: user do |f| %>
                <% end %>
              </div>
            </div>
          </div>
            


        </div>
      <% end %>
    </div>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->