<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div>
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user %>
          <% if admin_user?  && !current_user?(user) %>
            ｜
            <%= link_to "基本情報編集", edit_basic_info_user_path(user)%>
            ｜
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>