<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--index') %>
<h1>ユーザ一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "インポート", class: "col-md-2 btn btn-primary btn-#{yield(:class_text)}" %>
  <% end %>
</div>
<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <hr/>
    <div id="accordion">
      <% @users.each do |user| %>
        <div>
          <%= user.name %><p>
          ｜
          <%= link_to "削除", user, class: "btn btn-primary",
                method: :delete, data: { confirm: "削除してよろしいですか？" } %><p>

          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <div data-toggle="collapse" data-parent="#accordion" href="#<%= user.id %>" class="btn btn-primary">編集</div>
              </div>
            </div>
            <div id="<%= user.id %>" class="panel-collapse collapse out">
              <div class="panel-body">
                <%= render 'user_edit_form', user: user do |f| %>
                <% end %>
              </div>
            </div>
          </div>
            


        </div>
      <% end %>
    </div>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
rails g model attendance_logs attendances_on:time before_started_at:time after_started_at:time before_finished_at:time after_finished_at:time user_id:index superior:string approval_on:time
<!--rails g migration add_attendance_info_to_attendances overtime_at:time description:string superior_sign:string -->
<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->

