<% provide(:title, @user.name) %>
<div>
  <%= render 'show_user_info.html' %>
</div>
<!-- 上長、承認者用のリンク表示 -->
<% if @user.superior? %>
  <div><%= link_to "【 所属長承認申請のお知らせ 】#{@one_month_approvals.count}件の通知があります",
     one_month_approval_user_path(@user.id), remote: true, class: "text-link--show" %></div>
  <div><%= link_to "【 勤怠変更申請のお知らせ 】",
     "", remote: true, class: "text-link--show" %></div>
  <div><%= link_to "【 残業申請のお知らせ 】",
     "", remote: true, class: "text-link--show" %></div>
<% end %>
<div>
  <%= link_to '勤怠を編集', attendances_edit_one_month_user_path(date: @first_day), class: 'btn btn-primary' %>
  <%= link_to 'CSV出力', '', class: 'btn btn-primary' %>
</div>
<div>
  <%= link_to '勤怠修正ログ（承認済）', '', class: 'btn btn-primary' %>
</div>
<div>
<!-- 各日の勤怠情報 -->
  <%= render 'show_attendances_table.html' %>
  <!-- 申請フォーム -->
  <div class="col-md-2 col-md-offset-10 form-group">
    <%= form_with(model:[@user, @attendance_monthly_report]) do |f| %>
      <%= f.collection_select :superior_id, 
        @superiors.all, :id, :name,
        {prompt: "選択してください"} , {class: "form-control form-superior input-md"} %>
      <%= f.hidden_field :month, value: @first_day %>
      <%= f.hidden_field :id, value: @user.id %>
      <%= f.hidden_field :user_name, value: @user.name %>
      <%= f.submit '申請', class: "btn btn-primary btn-block form-superior"%>
    <% end %>
  </div>
</div>


<!--モーダルウインドウ表示-->
<div id="one_month_approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->
