<% provide(:title, @user.name) %>

<div>
  <%= form_with(model: @attendance, local: true) do |f| %>
  <table class="table table-bordered table-striped table-condensed table-hover" id="table-attendances">
    <thead>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>在社時間</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td>
            <%= l(day.started_at, format: :hour) if day.started_at.present? %>
            <%= l(day.started_at, format: :minute) if day.started_at.present? %>
          </td>
          <td>
            <%= l(day.finished_at, format: :hour) if day.finished_at.present? %>
            <%= l(day.finished_at, format: :minute) if day.finished_at.present? %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= f.text_field :note, class: "form-control" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="col-md-offset-4">
    <%= f.submit "設定を保存する", class: "btn btn-primary btn-lg" %>
    <%= f.submit "設定を保存する", class: "btn btn-primary btn-lg" %>
  </div>
  <% end %>
</div>